.buttonsWrapper{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.mainButton{
    width: 354px;
    height: 50px;
    border-radius: 20px;
    background-color: #382AE1;
    border-width: 0px;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;
}
.mainButton:hover{
    background-color: #766CF1;
}
.secondaryButton{
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-transform: capitalize;
    color: #717FA6;
    background-color: inherit;
    border: 0px white;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .buttonsWrapper{
        margin-top: 24px;
        gap: 24px;
    }
    .mainButton{
        width: 279px;
        height: 50px;
    }
}